[run]
branch = true
omit =
    # Omit tests directory
    tests/*
    # Omit external libraries
    */dist-packages/*
    */site-packages/*

[report]
precision = 2
ignore_errors = true
omit =
    # Omit tests directory
    tests/*
    # Omit external libraries
    */site-packages/*
    */dist-packages/*

[html]
directory = coverage
